*/Intermediate
*/Build
*/Binaries
*/DerivedDataCache
*/Saved
03_BuildingEscape/BuildingEscape3/Content/StarterContent/
03_BuildingEscape/BuildingEscape/Intermediate/
03_BuildingEscape/BuildingEscape/Saved/
03_BuildingEscape/BuildingEscape/Binaries/
*.db
